<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>ToneDeaf would like to access your camera roll.</string>
	<key>NSCameraUsageDescription</key>
	<string>ToneDeaf would like to access your camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>ToneDeaf is requesting microphone access.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>Main</string>
				</dict>
			</array>
		</dict>
		<key>UIApplicationSupportsTabbedSceneCollection</key>
		<false/>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Poppins-Regular.ttf</string>
		<string>StalinistOne-Regular.ttf</string>
		<string>Poppins-Bold.ttf</string>
		<string>TiltPrism-Regular.ttf</string>
	</array>
</dict>
</plist>
